<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Chat project</title>
    {% include 'rooms/styles.html' %}
    {% load static %}
    <link href="{% static 'messengers/index.css' %}" rel="stylesheet">

</head>
<body>
    {% csrf_token %}
    <input type="text" hidden id="pk" value="{{ pk }}">

    {% include 'rooms/nav.html' %}
    <div class="container-fluid h-100">
        <div class="row h-100">
            {% include 'rooms/sidebar.html' %}
            <main role="main" class="col-9 ml-sm-auto col-lg-10 px-4">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
    {% include 'rooms/modal.html' %}
</body>
    {% include 'rooms/javascript.html' %}
</html>